In [273]:
import pandas as pd

In [274]:
df = pd.read_csv("./score.csv", index_col=0)

In [275]:
df.loc["total"]

2023-10-20T23:30:34.755742    1.060755e+09
2023-10-21T00:38:13.160663    1.018913e+09
2023-10-21T00:42:49.956543    1.028040e+09
2023-10-21T00:50:08.428110    2.098736e+10
2023-10-21T01:17:21.760157    1.065106e+09
2023-10-21T01:21:32.438044    9.937730e+09
2023-10-21T01:50:36.630387    1.285618e+09
2023-10-21T01:54:26.281402    1.803236e+09
2023-10-21T01:57:51.652721    1.146221e+09
2023-10-21T02:01:48.867771    1.473296e+09
2023-10-21T02:05:03.877950    1.045655e+09
2023-10-21T02:14:35.367278    9.199008e+08
2023-10-21T02:18:43.473352    1.034444e+09
2023-10-21T02:20:40.484872    9.441489e+08
2023-10-21T02:22:41.002817    9.200179e+08
2023-10-21T10:31:06.980853    9.275023e+08
2023-10-21T10:34:36.903757    9.636363e+08
2023-10-21T10:36:26.601112    9.996360e+08
2023-10-21T10:38:10.737221    9.961727e+08
2023-10-21T10:40:09.883808    9.262074e+08
2023-10-21T10:59:16.680439    9.209230e+08
2023-10-21T11:01:53.521567    9.490585e+08
2023-10-21T11:04:01.328806    9.107705e+08
2023-10-21T11:06:37.147415    9.129942e+08
2023-10-21T11:09:24.767237    9.035952e+08
2023-10-21T11:12:29.737628    9.133394e+08
2023-10-21T11:14:48.765113    9.094498e+08
2023-10-21T11:33:17.839442    1.184722e+09
2023-10-21T11:45:56.215101    3.501531e+09
2023-10-21T11:48:29.697132    6.780131e+08
2023-10-21T11:51:51.357325    6.788279e+08
2023-10-21T11:54:56.600191    6.780131e+08
2023-10-21T13:53:18.558109    7.698277e+08
2023-10-21T14:46:49.321917    6.752454e+08
2023-10-21T15:29:00.068713    6.779966e+08
2023-10-21T15:59:28.617047    7.078131e+08
2023-10-21T16:04:08.523130    7.102503e+08
2023-10-21T16:27:26.583949    6.750545e+08
Name: total, dtype: float64

In [276]:
df.iloc[:, -2:]

          2023-10-21T16:04:08.523130  2023-10-21T16:27:26.583949
case
0000.txt                   1130551.0                   1130551.0
0001.txt                    468321.0                    468321.0
0002.txt                    117916.0                    117916.0
0003.txt                    259602.0                    254922.0
0004.txt                   4455748.0                   4455748.0
...                              ...                         ...
0496.txt                    371840.0                    195953.0
0497.txt                    663033.0                    663033.0
0498.txt                   1430075.0                   1430075.0
0499.txt                   2498736.0                   2498736.0
total                    710250347.0                 675054485.0

[501 rows x 2 columns]

In [277]:
ratio = df.iloc[:,-1] / df.iloc[:,-2]

In [278]:
ratio["total"]

0.9504458362482152

In [279]:
ratio[ratio>1]

case
0151.txt    1.093017
0219.txt    1.095614
0255.txt    1.770992
0280.txt    2.213023
0493.txt    1.001888
dtype: float64

In [280]:
ratio[ratio>1].iloc[ratio[ratio>1].argsort()[::-1]][:10]

case
0280.txt    2.213023
0255.txt    1.770992
0219.txt    1.095614
0151.txt    1.093017
0493.txt    1.001888
dtype: float64

In [283]:
ratio[ratio<1].iloc[ratio[ratio<1].argsort()][:10]

case
0432.txt    0.004799
0206.txt    0.094237
0260.txt    0.097950
0383.txt    0.156788
0399.txt    0.179322
0306.txt    0.245873
0330.txt    0.344796
0191.txt    0.346921
0258.txt    0.524199
0496.txt    0.526982
dtype: float64